@charset "utf-8";

@font-face {
	font-family: "Baskerville";
	font-style: normal;
	font-weight: 400;
	src: local("Baskerville"), local("Baskerville-Regular"),
		url(/assets/fonts/Baskerville.ttc) format("tcc");
	unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F,
		U+FE2E-FE2F;
}
